<div th:fragment="cards">
    <div class="row row-cols-1 row-cols-2 row-cols-md-3 g-3 cards_items">
        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/1a9/1a9a99fbb6cd42192e4cc4fab4cfd0f0.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/charms'}">
                    Шармы
                </a>
                <hr class="cards_1_2">
            </div>
        </div>

        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/974/974963d98e4f1c09a61fe201f38ca8cb.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/rings'}">
                    Шармы
                </a>
                <hr class="cards_1_2">
            </div>
        </div>

        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/b81/b81ac296ae4f91ab5a13f7c3e73acd89.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/bracelets'}">
                    Браслеты
                </a>
                <hr class="cards_1_2">
            </div>
        </div>
        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/dc2/dc2ac2295f57319d719b104e2eb70ed4.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/earrings'}">
                    Серьги
                </a>
                <hr class="cards_1_2">
            </div>
        </div>
        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/cc8/cc80f7fd207dbdaa8cc5eb33347c18e6.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/pendants'}">
                    Колье и подвески
                </a>
                <hr class="cards_1_2">
            </div>
        </div>
        <div class="card card_back" style="width: 180px; height: 200px;">

            <a><img class="card-img-top"
                    src="https://pandora.kz/upload/iblock/742/74219ca84fb8772db0c47bccad8224a1.png"></a>

            <div class="card-body hyper_text">
                <a class="buttoncard" th:href="@{'/collections'}">
                    Коллекции
                </a>
                <hr class="cards_1_2">
            </div>
        </div>
    </div>
</div>