<div th:fragment="infoBar">
    <div class="alert  alert-dismissible fade show" role="alert" style="background-color: #ffcad4; height: 57px">
        <p align="center">
            <img align="center"
                 src="https://pandora.kz/upload/resize_cache/iblock/31c/40_40_1/31cd18d0710243b1d7d6853f9662fe8d.png"
                 style="width: 40px">
            Подпишись на рассылку — получи -15% на первую покупку! </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>