<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<div th:insert="navbar.html :: header"><br>

</div>
<body>
<div class="row row-cols-1 row-cols-2 row-cols-md-3 g-3">
    <div th:each="ring: ${rings}">
        <div class="card" style="width: 22rem; height: 35rem; margin-left: 21px; margin-right: 16px;">
            <div class="card-body">
                <img class="card-img-top" style="margin-left: 11px; margin-top: 13px; height:250px; width:250px;" th:src="@{'images/' + ${ring.image}}" alt="">
                <h6
                        th:text="${ring.getName()}">
                </h6>
                <p th:text="${ring.getDescription()}">
                </p>
                <div class="product_price">
                    <span th:text="${ring.getPrice()}"></span><br>
                    <strike th:unless="${ring.getOldprice()} == 0">
                        <span th:text="${ring.getOldprice()}"></span>
                    </strike>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>